body {
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif;
  background-color: #003f87;
  color: #222;
  direction: rtl;
}


.sales-box {
  border-top: 15px solid #003f87;
  max-width: 1900px;
  height: 120px;
  margin-bottom: 100px;
  padding: 20px 40px;
  background-color: #0047ab;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 20px 8px rgba(0, 0, 0, 0.2);
  direction: rtl;
  gap: 10px;
  position: relative;
}

.sales-box .logo-heading {
  height: 80px;
  width: auto;
  display: block;
}

/* Title style (right) */
.sales-box h2 {
  color: white;
  font-size: 2.8rem;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  border-bottom: 3px solid #ffd700;
  border-radius: 20px;
  padding: 10px 40px;
  box-shadow: 0 6px 18px rgba(0, 70, 171, 0.15);
}

.search-box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-box input {
  padding: 6px 10px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  border: 3px solid black;
  border-radius: 10px;
}

.search-box button {
  background-color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  border: 3px solid black;
  border-radius: 10px;
}


/* NOTE BOX – sticks to the very left */
.note-box {
  color: white;
  margin-top: 100px;
  margin-bottom: 30px;
  position: sticky;
  top: 20px;
  font-weight: 500;
  padding-bottom: 15px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  font-size: 1rem;
  text-align: center;
  overflow: hidden;
  border-bottom: 3px solid #ffd700;
  padding: 10px 40px;
  box-shadow: 0 6px 18px rgba(0, 70, 171, 0.15);
}

.note-box h5 {
  font-size: 1.3em;
}

/* GRID – remaining space */
.grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 40px 20px 0px 80px;
}

.sale-item {
  background: white;
  border-radius: 40px;
  width: 90%;
  margin-bottom: 50px;
  border: 3px solid #0047ab;
  box-shadow: 0 6px 18px rgba(0, 70, 171, 0.15);
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.sale-item:hover {
  transform: scale(1.05);
  border-color: #ffd700;
}

.sale-item img {
  width: 100%;
  display: block;
  border-radius: 20px;
}

/* Responsive grid */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .sales-layout {
    flex-direction: column-reverse;
    align-items: stretch;
  }

  .note-box {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .grid {
    grid-template-columns: 1fr;
  }
}